<form action="/room" id="intro">
    <div>
        <input name="nickname" placeholder="nickname"/>
    </div>
    <div>
        <input name="room" placeholder="room"/>
    </div>
    <div>
        <input type="submit" value="JOIN" />
    </div>
</form>
