<div class="message">
    <ul id="messages">
    </ul>
</div>
<div class="input">
    <input id="message" placeholder="message"/>
    <button onclick="App.chat.chat(document.getElementById('message').value)">Say</button>
</div>
